# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
env/
venv/
.venv/
chatbot_env/

# Micromamba / Conda
.mamba/
conda-meta/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Data
data/
*.csv
*.json

# HuggingFace cache
.cache/
huggingface/

# Secrets
.env

# Build
dist/
build/

# Vector database
vector_db/

test.py